.friends-item{
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    // box-shadow: black 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

button{
    padding: 10px 20px;
    color: #ffffff;
}
.warn{
    background:#FF6E6E ;
}
.accent{
    background: #6C69FF;
}