
.container{
border: 1px solid black;
}

h2{
    background: red;
}

.filtered-games{
    display: flex;
    .games{
        flex-basis: 70%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            flex-basis: 30%;
        }
    }
}